#sidebar{
	background-color:#fff;
}
.sidebar{
	margin: 5px 0;
	list-style: none;
}
.sidebar > li{
	text-align: center;
	padding: 10px 0px !important;
    list-style: none;
    border-bottom: 1px #ddd solid;
}
.sidebar > li > a{
	text-decoration: none;
	text-align: center;
	color: #000;
}
.no-padding{
	padding:0px!important;
}
.no-margin{
	margin:0px!important;
}
.active{
	background-color: #c2c2c2;
}
.active > a{
	color: #fff!important;
}
.card_img{
	width: 100%;
	height: auto;
}
.center{
	margin: 0px auto!important;
	float:none!important;
}