body{
	background-image: linear-gradient(to right, #330000 , #f30001);
	float: left;
	width:100%;
	/*overflow: hidden;*/
}
h1,h2,h3,h4,h5{
	color: #000;
}
p{
	font-size: 14px;
	margin-bottom: 20px;
}


.top-add-div {
    position: relative;
    text-align: center;
    color: white;
}
.top-add {
	width: 100%;
	height: 100%;
}
#about-us,#faq{
    background-color:#F5F8FA;
}


/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
#inner-content{
	background-image: linear-gradient(to right, #330000 , #f30001);
}
.modal-button-div{
	width: 20%;
	padding:0px;
	float: left;
}
.modal-button-div h3{
	font-size: 17px;
}

#sidebar{
	background-color:#fff;
}
.sidebar{
	margin: 5px 0;
	list-style: none;
}
.sidebar > li{
	text-align: center;
	padding: 10px 0px !important;
    list-style: none;
    border-bottom: 1px #ddd solid;
}
.sidebar > li > a{
	text-decoration: none;
	text-align: center;
	color: #000;
}
.sidebar > li.active{
	background-color:#e2e6e8;
    color: #fff;
    font-weight: bolder;
}
.no-padding{
	padding: 0px!important;
}
.no-margin{
	margin: 0px!important;
}
.center{
	margin:0px auto;
	float: none;
}
#main-navbar{
	padding:18px 15px;
	border:0px solid transparent;
	margin: 0px;
	/*background-image: linear-gradient(to right, #330000 , #f30001);*/
	background-color: #fff;
}
#main-navbar a{
	color: #000;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid red;
	margin:0px 5px;
}
#top-ad{
	position: relative;
	width: 100%;
	max-height: 225px;
	min-width: 235px;
	float: left;
}
.header > p{
	position: absolute;
	bottom: 20px;
	font-size:30px;
	color: #fff;
	width: 100%;
	font-weight: bolder;
}
.header > p{
	text-align: center;
}
#main-content{
	padding: 20px 5%;
	font-size: 17px;
}
span.stars > i{
	margin: 0px 2px;
	color: green;
}
.customers > p{
	text-align: right
}
#companies{
	width: 100%;
    background-color: #fff;
    float: left;
    padding: 30px 35px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 1px 1px 28px #a7a7a7;
}
#companies img {
    border: 1px solid #a7a7a7;
    border-radius: 35px;
	height: 250px;
}
#companies>div{
	padding:10px;
}
#bottom-ad > img{
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	width: 100%;
	height: 400px;
	box-shadow: 1px 1px 28px #a7a7a7;
}
#bottom-ad{
	width: 100%;
	float: left;
	position: relative;
}
.bottom-ad-inner{
	position: absolute;
	width: 100%;
	float: left;
	top: 0px;
}
#bottom-ad ul{
	list-style-type: none;
	color: #fff;
	margin: 0px;
	padding:50px;
}
#bottom-ad li{
	padding: 10px;
	color: #ffd400;
	font-weight: bolder;
}
.transaction{
	padding:15px;
}
.transaction >img{
	margin: 10px;
}
.faqs{
	padding: 10px;
}
.panel-default,.panel-default>.panel-heading{
	background-color: transparent;
	border: 0px;
}
.panel-heading{
	padding-left: 0px;
}
.panel-default ul{
	list-style-type: none;
}
#footer{
	background-image: linear-gradient(to right, #330000 , #f30001);
	color: #fff;
	padding: 15px 5%;
	height: 50px;
}
#footer > p,#footer > h4{
	text-align: center;
	margin:0px;
	color: #fff;
}
.owl-carousel img{
	height: 300px;
	width: 100%;
}
.modal-button{
	/*background-image: linear-gradient(to right, #F80001 , #6A0002);*/
	background-color: transparent;
	border: 0px;
	z-index: 999;
	border-radius: 0px; 
}
.modal-button:active,.modal-button:hover{
	background-image: linear-gradient(to right, #F80001 , #6A0002);
	border: 0px;
}
.modal-header{
	background-image: linear-gradient(to right, #330000 , #f30001);
}
.modal-header h3{
	color: #fff;
}
.modal-footer{
	background-image: linear-gradient(to right, #330000 , #f30001);	
}
.modal-footer button,input{
	background-color: #fff;
	color: #000;
}
.modal-footer button:hover,input:hover,.modal-footer button:focus,input:focus{
	background-image: linear-gradient(to right, #330000 , #f30001);	
	border: 1px solid #fff!important;
	color: #fff!important;
}

/*CARD MODAL*/
#card-modal-view{
	padding: 20px;
    background-image: #fff;
    /*border: 1px solid #a7a7a7;*/
    margin-bottom: 20px;
    /*border-radius: 20px;*/
    /*box-shadow: 5px 5px 10px #a7a7a7;*/
}
#card-modal-view > h4{
	text-align: center;
	color: #000;
}
#card-modal-view p{
	margin: 0px;
	text-align: center;
	color: #000;
}
#card-number{
	width: 100%;
	margin-bottom: 10px;
    border: 1px solid #000;
    padding: 10px!important;
    box-shadow: 0px 0px 2px #000;
}
#serial-number{
	width: 100%;
    border: 1px solid #000;
    padding: 10px!important;
    box-shadow: 0px 0px 2px #000;
}
#another-card{
	margin-bottom: 10px;
}
/*-----------ABOUT----------*/
.about-portion{
	margin-bottom: 40px;
}
.people{
	list-style-type: none;
	padding:0px 5px;
	margin: 0px;
	margin-bottom: 35px;
}
.people li{
	font-size: 13px;
    background-color: #870000;
    color: #fff;
    margin: 10px 0px;
    padding: 8px;
}
.why-recharge{
	padding:0px;
	margin: 0px;
	list-style-type: none;
}
.why-recharge li{
	margin:10px 0px;
}
.our-partners{
	border-top: 1px solid #a7a7a7;
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 60px;
}


/*----------FAQ-----------*/
.faq-page-title{
	color: #a9272a!important;
	font-weight: bolder;
	padding-left: 15px;
}
.faq-pageline{
	padding-left: 15px;
	color: #a7a7a7;
}
.faq-heading {
	color: #000;
}
.faq-title {
	color: #a9272a!important;
}
.faq-title:hover,.faq-title:focus{
	text-decoration: none;
	font-weight: bolder;
}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #cc0001;
    color: #fff!important;
}
.navbar-default span{
	background-color: #fff!important;
}

@media only screen and (max-width: 480px) {
	.owl-carousel img{
		height: 150px;
	}
	#footer li,#footer b,#footer h4,#footer p,#footer a{
		text-align: center!important;	
		font-size: 12px;
	}
	.modal-button h3{
		font-size:14px; 
	}
	#bottom-ad > img{
		height: 250px;
	}
	#bottom-ad  li{
		font-size: 15px;
	}
	.customers p{
		text-align: center;
	}
	#bottom-ad ul{
		padding: 20px 0px 20px 5px;
	}
	.modal-button-div{
		width: 100%;
	}
	.top-add{
		width: 100%;
		height: auto!important;
	}
}
